{% extends "datasets.html" %}

{% block title %}Password Confirmation - Relevancer{% endblock %}


{% block main %}


		{% if confirmed %}
		
		<script type="text/javascript">
      	  setTimeout(function() {
         	   window.location.href = "/datasets";
        		}, 10000);
		</script>
		
			{% if result == 'Following file is preparing to download : ' %}
			
			<script type="text/javascript">
				setTimeout(function() {
         	   window.location.href = "{% url 'downloadfile' opt thing %}";
        		}, 0);
			</script>
			
			{% endif %}
			
		
		<!-- 'thing' can be filename or collection name, depends on the action -->
		
		<h3>Password is correct. {{ result }} <br><a style="color: #0000FF;">'{{ thing }}'</a></h3>

		
		<h4>Redirecting to Clusters...</h4>
		
		
		{% else %}
		
		
		<h3>You are about to {{ event }} <a style="color: #0000FF;">'{{ thing }}'</a></h3>
		<h4>Please submit your password for action;</h4>
	
		<h5><a style="color: #FF0000;">{{ denied_msg }}</a></h5>
		
		
			{% if action == 'loadback' %}
		
			<form method="post" name="confirmpassform" action="{% url 'loadback' thing %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
  					<input type="submit" name="confirmpass" value="Load Back" onclick="return confirm('Are you sure that you want to load this backup? This may take a while. Please wait.')">
	 	 	</form>
 	 	
 		 	{% elif action == 'resetlabels' %}
 	 	
	 	 	<form method="post" name="confirmpassform" action="{% url 'resetlabels' thing %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
  					<input type="submit" name="confirmpass" value="Reset All Labels" onclick="return confirm('Are you sure that you want to reset all of the labels? This may take a while. Please wait.')">
	 	 	</form>
 	 	
	 	 	{% elif action == 'labeling' %}
 	 	
	 	 	<form method="post" name="confirmpassform" action="{% url 'labeling' thing is_labeled %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
  					<input type="submit" name="confirmpass" value="Submit">
 		 	</form>
 	 	
 		 	{% elif action == 'backup' %}
 	 	
 	 		<form method="post" name="confirmpassform" action="{% url 'backup' thing %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
	  				<input type="submit" name="confirmpass"  value="Submit" onclick="return confirm('This may take a while. Please wait.')">
 		 	</form>
 	 	
 	 		{% elif action == 'download' %}
 	 	
 		 	<form method="post" name="confirmpassform" action="{% url 'download' opt thing %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
  					<input type="submit" name="confirmpass"  value="Submit" >
 		 	</form>

 	 		{% elif action == 'classifier' %}
 	 	
 		 	<form method="post" name="confirmpassform" action="{% url 'classifier' thing %}">
					{% csrf_token %}
  					<input type="password" name="user_pass"  placeholder="write your password here" required/><br><br>
					<input type="email" name="useremail"  placeholder="write your email here" required /><br><br>
  					<input type="submit" name="confirmpass"  value="Submit" >
 		 	</form>
 	 	
			{% endif %} 	 	
 	 	
 	 	{% endif %}
	



{% endblock %}
