{% extends "base.html" %}

{% block title %}Datasets - Relevancer{% endblock %}


{% block menu %}	
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'howdoesitwork' 'Introduction' %}" accesskey="2" title="">How Does It Work?</a></li>
		<li class="active"><a href="{% url 'datasets' %}" accesskey="3" title="">Clusters</a></li>
		<li><a href="{% url 'getfilter' %}" accesskey="4" title="">Analysis Filter</a></li>
		<li><a href="{% url 'about' %}" accesskey="5" title="">About</a></li>
{% endblock %}

{% block main %}

		<div class="title">
			  <h3>Choose from Available Datasets;</h3>
		</div>
	
		<!--
		
		{% for coll in mycol %}

			{{ coll }}<br>
		
		{% endfor %} -->
		
		{% for key, value in mycol.items %}
   			{% if value.urls and value.photos and value.nophotosurls %}
				<b>"{{ key }}"</b> <br>
				
				<ul><table>
					<tr>
						<th>Urls</th>
						<th>Photos</th>
						<th>No Photos and Urls</th>
					</tr>
					<tr>
						<td><li id="urlcluster">
										<b>"{{key}}_urls"</b> <br>
										{{ value.urls.clusters }} clusters in total <br> {{ value.urls.not_labeled }} not labeled yet, {{ value.urls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_urls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_urls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_urls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
</td>
						<td><li id="photoscluster">
										<b>"{{key}}_photos"</b> <br>
										{{ value.photos.clusters }} clusters in total <br> {{ value.photos.not_labeled }} not labeled yet, {{ value.photos.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_photos/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_photos/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_photos/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
</td>
						<td><li id="nopucluster">
										<b>"{{key}}_nophotosurls"</b> <br>
										{{ value.nophotosurls.clusters }} clusters in total <br> {{ value.nophotosurls.not_labeled }} not labeled yet, {{ value.nophotosurls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
</td>
					</tr>
			</table></ul><br>
   			{% elif value.urls and value.photos and not value.nophotosurls %}
				<b>"{{key}}"</b> <br>

				<ul><table>
					<tr>
						<th>Urls</th>
						<th>Photos</th>
					</tr>
					<tr>
						<td><li id="urlcluster">
										<b>{{key}}_urls</b> <br>
										{{ value.urls.clusters }} clusters in total <br> {{ value.urls.not_labeled }} not labeled yet, {{ value.urls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_urls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_urls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_urls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
</td>
						<td>
							<li id="photoscluster">
										<b>"{{key}}_photos"</b> <br>
										{{ value.photos.clusters }} clusters in total <br> {{ value.photos.not_labeled }} not labeled yet, {{ value.photos.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_photos/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_photos/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_photos/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
						
					</tr>
			</table></ul><br>

   			{% elif value.urls and value.nophotosurls and not value.photos %}
				<b>"{{key}}"</b> <br>
				
				<ul><table>
					<tr>
						<th>Urls</th>
						<th>No Photos and Urls</th>
					</tr>
					<tr>
						<td>
							<li id="urlcluster">
										<b>{{key}}_urls</b> <br>
										{{ value.urls.clusters }} clusters in total <br> {{ value.urls.not_labeled }} not labeled yet, {{ value.urls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_urls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_urls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_urls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
						
						
						
						<td>
							<li id="nopucluster">
										<b>"{{key}}_nophotosurls"</b> <br>
										{{ value.nophotosurls.clusters }} clusters in total <br> {{ value.nophotosurls.not_labeled }} not labeled yet, {{ value.nophotosurls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
					</tr>
			</table></ul><br>

   			{% elif value.photos and value.nophotosurls and not value.urls %}
				<b>"{{key}}"</b> <br>
				
				<ul><table>
					<tr>
						<th>Photos</th>
						<th>No Photos and Urls</th>
					</tr>
					<tr>
					
						<td>
							<li id="photoscluster">
										<b>"{{key}}_photos"</b> <br>
										{{ value.photos.clusters }} clusters in total <br> {{ value.photos.not_labeled }} not labeled yet, {{ value.photos.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_photos/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_photos/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_photos/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>

							<li id="nopucluster">
										<b>"{{key}}_nophotosurls"</b> <br>
										{{ value.nophotosurls.clusters }} clusters in total <br> {{ value.nophotosurls.not_labeled }} not labeled yet, {{ value.nophotosurls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
					</tr>
			</table></ul><br>
   			{% elif value.urls and not value.nophotosurls and not value.photos %}
				<b>"{{key}}"</b> <br>
				
				<ul><table>
					<tr>
						<th>Urls</th>
					</tr>
					<tr>
						<td>
							<li id="urlcluster">
										<b>"{{key}}_urls"</b> <br>
										{{ value.urls.clusters }} clusters in total <br> {{ value.urls.not_labeled }} not labeled yet, {{ value.urls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_urls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_urls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_urls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_urls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
					</tr>
			</table></ul><br>

   			{% elif value.photos and not value.nophotosurls and not value.urls %}
				<b>"{{key}}"</b> <br>
				
				<ul><table>
					<tr>						
						<th>Photos</th>						
					</tr>							
					<tr>
						<td>
							<li id="photoscluster">
										<b>"{{key}}_photos"</b> <br>
										{{ value.photos.clusters }} clusters in total <br> {{ value.photos.not_labeled }} not labeled yet, {{ value.photos.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_photos/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_photos/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_photos/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_photos/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
					</tr>
				</table></ul><br>

   			{% elif value.nophotosurls and not value.photos and not value.urls %}
				<b>"{{key}}"</b> <br>
				
				<ul><table>
					<tr>
						<th>No Photos and Urls</th>
					</tr>
					<tr>
						<td>
							<li id="nopucluster">
										<b>"{{key}}_nophotosurls"</b> <br>
										{{ value.nophotosurls.clusters }} clusters in total <br> {{ value.nophotosurls.not_labeled }} not labeled yet, {{ value.nophotosurls.labeled }} already labeled<br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{key}}_nophotosurls/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
						</td>
					</tr>
			</table></ul><br>

			{% else %}
				<ul>
					
							<li>
										<b>"{{key}}"</b> <br>
										{{ value.clusters }} clusters in total <br> {{ value.not_labeled }} not labeled yet, {{ value.labeled }} already labeled<br>
										<a href="/datasets/{{ key }}/labeled:False">Not Labeled</a> <br>
										<a href="/datasets/{{ key }}/labeled:True">Labeled</a> <br>
										<a href="/datasets/{{ key }}/reset_labels" style="color: #FF0000;">
											Reset All Labels</a> <br>
										<a href="/datasets/{{ key }}/listbackups" style="color: #006600;">
											Backups</a> <br>
										<a href="/datasets/{{ key }}/listclassifiers" style="color: #000;">
											Classifiers</a> <br><br>
							</li>
							
				</ul>	
				
			{% endif %}
		{% endfor %}


		
		
		<!-- form method="post" action="{% url 'home' %}">
				{% csrf_token %}
  				<input type="text" name="newcollection"  placeholder="write collection name here" required/><br><br>
  				<input type="submit" name="addcollection" value="Add New Collection">
 	 	</form>
 	 	
 	 	<h6>! WARNING : You need to open relevancer.science.ru.nl manually after this process (new tab is recommended)</h6-->



{% endblock %}


