{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Analysis Filter - Relevancer{% endblock %}


{% block menu %}
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'howdoesitwork' 'Introduction' %}" accesskey="1" title="">How Does It Work?</a></li>
		<li ><a href="{% url 'datasets' %}" accesskey="2" title="">Clusters</a></li>
		<li class="active"><a href="{% url 'getfilter' %}" accesskey="3" title="">Analysis Filter</a></li>
		<li ><a href="{% url 'about' %}" accesskey="4" title="">About</a></li>
{% endblock %}


{% block main %}


	<div class="title">
			 <h3>Please select a collection to create a filter based on it</h3>
	</div>

	{% if collectionlist %}

				<ul>
					{% for coll in collectionlist %}
								<li>
										"<a style='color: blue;' href="{% url 'getfiltersteps' coll %}">{{ coll }}</a>" collection <!-- contains <a style='color: blue;'>{{ coll.1 }}</a> tweets in total <br-->
								</li>
					{% endfor %}
				</ul>

		{% else %}

			There is not any data to cluster in the database.

	{% endif %}

			<br>or...<br><br>
			<h3><a href='#' onclick="showDiv()"> Click here to upload your own dataset</a></h3><br>


	{% if confirmed %}

			<form method="post" id='uploadform' enctype="multipart/form-data" action="{% url 'upload' %}">
				{% csrf_token %}
				<textarea form="uploadform" name="keywords" placeholder="Please write the keywords to be extracted here (optional). Example Format: keyword1, keyword2" ></textarea><br>
				<input type="file" name="upfile" required>
				<button name="uploaddataset" type="submit">Upload</button>
			</form>


			{% if filename %}
					<br>

					Following file is uploaded on the file system : <b>{{ filename }}<b><br>
					Now it is being saved to the database.<br>
					You can see it on the list above after the saving process is done.


			{% elif warning %}

					<h5><a style="color: #FF0000;">There is already a file with the same name in the file system.<br>
					Please either check the list of datasets that already exist or change the name of the file and upload again.</a></h5>

			{% else %}

					<div id='loading' style="display: block; margin: 0 auto; visibility: hidden;">
						<br><br>
						Uploading your file, please wait..
						.<br><br>
						<img src="{% static 'images/loading.gif' %}" name="loading" >
					</div>

			{% endif %}

	{% else %}

	{% if denied_msg %}
		<div id='confirmpassword' style="display:block;">
	{% else %}
                <div id='confirmpassword' style="display:none;">
	{% endif %}

			<h4>Please submit your password to continue;</h4>

			<h5><a style="color: #FF0000;">{{ denied_msg }}</a></h5>

		 	<form method="post" action="{% url 'upload' %}">
				{% csrf_token %}
					<input type="password" name="user_pass"  placeholder="write your password here" required autofocus/><br><br>
					<button name="confirmpass"  type="submit" >Submit</button>
		 	</form>

		</div>

	{% endif %}


	<script type="text/javascript">
	$('#uploadform').submit(function() {
		$('#loading').css('visibility', 'visible');
		return true;
	});

	function showDiv() {
   		document.getElementById('confirmpassword').style.display = "block";
	}
	</script>



{% endblock %}
