{% extends "getfilter.html" %}
{% load staticfiles %} 


{% block title %}Analysis Filter - Relevancer{% endblock %}



{% block main %}

<form method="post" id="getfilterform" name="getfiltersteps" action="{% url 'getfiltersteps' collname %}">
{% csrf_token %}

{% if filtername %}

	<div class="title"><h3>Please give a name to the filter you're about to create; </h3></div>

	Now you are working on the collection named '<a style="color: #0000FF;">{{ collname }}</a>'<br><br>

	<h5><a style="color: #FF0000;">{{ denied_msg }}</a></h5>

	Name: <input type="text" name="username"  placeholder="write your name here" required autofocus/><br><br>
	Surname: <input type="text" name="usersurname"  placeholder="write your surname name here" required /><br><br>
	Email: <input type="email" name="useremail"  placeholder="write your email here" required /><br><br>
        
	Filter Name: <input type="text" name="filtername"  placeholder="write the filter name here" required pattern="\S+" />&emsp;Do not use underscore: "_" <br>
	<div id="menu-label"><label for="menu-toggle"><u>Click to see the filter names in use</u></label></div>
	<input type="checkbox" id="menu-toggle"/> 

	<div id="menu-toggle-0"><h4>These filter names are used before</h4>
	
	<h5 id="filternames">{% for k in model_filters|dictsort:"title"%}
		    {% if forloop.first %}{% else %}
        		{% if forloop.last %}, {% else %}, {% endif %}
    		{% endif %}{{k}}
	{% endfor %}</h5></div>
    
	<select class='form-control' name='keywordlist' class="styled-select" required>
	<option value="" selected="selected">Select Keyword</option>
	 
	      {% for k in keywordlist %}
	          <option value="{{ k }}">{{ k }}</option>
	      {% endfor %}
        </select> 
	
	<input type="submit" name="users-skip" value="Submit" class="btn subthreecol">

    

{% else %}


			{% if step == "users-skip" %}

			<div class="title"><h3>User analysis for identifying users to be excluded</h3></div>

				Please select the users (who tweets the most) you would like to <b>exclude</b>: <br><br>

				<div id='sectionblock'>
				<section>
					<h3>From tweets that have URL(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_urls }}</b> <br><br>	

					<ul>
					{% for u in users_urls %}
							<li><input type="checkbox" name="userlist_urls" value="{{ u.username  }}" /><b>{{ u.username }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>


				<section>
					<h3>From tweets that have photo(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_photos }}</b> <br><br>	

					<ul>
					{% for u in users_photos %}
							<li><input type="checkbox" name="userlist_photos" value="{{ u.username  }}" /><b>{{ u.username }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>

				<section>
					<h3>From tweets that have neither a photo nor a URL</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_nophotosurls }}</b> <br><br>	

					<ul>
					{% for u in users_nophotosurls %}
							<li><input type="checkbox" name="userlist_nophotosurls" value="{{ u.username  }}" /><b>{{ u.username }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>
				</div>

				<input type="hidden" name="queryid" value="{{ queryid }}" />
				<input type="submit"  name="hashtags-skip" value="Submit" class="btn subthreecol"/>



			{% elif step == "hashtags-skip" %}


			<div class="title"><h3>Hashtag Analysis for identifying hastags to be excluded</h3></div>

				Please select the hastags (which are used the most) you would like to <b>exclude</b>: <br><br>

				<div id='sectionblock'>
				<section>
					<h3>From tweets that have URL(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_urls }}</b> <br><br>	

					<ul>
					{% for u in hashtags_urls %}
							<li><input type="checkbox" name="hashtaglist_urls" value="{{ u.hashtag  }}" /><b>{{ u.hashtag }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>


				<section>
					<h3>From tweets that have photo(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_photos }}</b> <br><br>	

					<ul>
					{% for u in hashtags_photos %}
							<li><input type="checkbox" name="hashtaglist_photos" value="{{ u.hashtag  }}" /><b>{{ u.hashtag }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>

				<section>
					<h3>From tweets that have neither a photo nor a URL</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_nophotosurls  }}</b> <br><br>	

					<ul>
					{% for u in hashtags_nophotosurls %}
							<li><input type="checkbox" name="hashtaglist_nophotosurls" value="{{ u.hashtag  }}" /><b>{{ u.hashtag }}</b> - {{ u.numtweet }}</li>

							<div>
							{% for t in u.exampletweets %}			
									{{ t }}<br>
							{% endfor %}
							</div>
							<br><br>
					{% endfor %}
					</ul>
				</section>
			</div>

				<input type="hidden" name="queryid" value="{{ queryid }}" />
				<input type="submit"  name="overview-skip" value="Submit" class="btn subthreecol"/>


			{% elif step == "overview-skip" %}


			<div class="title"><h2>Overview of Your Filter</h2></div>

				Number of total tweets until this point : <b>{{ numtwt_total }}</b> <br><br>	

				<h3>Collection name:</h3> {{ query.collname }} <br><br>

				<div id='sectionblock'>
				<section>
					<h3>For tweets that have URL(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_urls }}</b> <br><br>	


					<h3>Excluded Users;</h3>
					<ul>
					{% for u in query.userlist_urls %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>

					<h3>Excluded Hashtags;</h3>
					<ul>
					{% for u in query.hashtaglist_urls %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>
				</section>


				<section>
					<h3>For tweets that have photo(s)</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_photos }}</b> <br><br>	


					<h3>Excluded Users;</h3>
					<ul>
					{% for u in query.userlist_photos %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>

					<h3>Excluded Hashtags;</h3>
					<ul>
					{% for u in query.hashtaglist_photos %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>
				</section>

				<section>
					<h3>For tweets that have neither a photo nor a URL</h3><br><br>

					Number of tweets in this subset until this point : <b>{{ numtwt_nophotosurls }}</b> <br><br>	


					<h3>Excluded Users;</h3>
					<ul>
					{% for u in query.userlist_nophotosurls %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>

					<h3>Excluded Hashtags;</h3>
					<ul>
					{% for u in query.hashtaglist_nophotosurls %}
							<li>{{ u }}</li>
					{% endfor %}
					</ul>
				</section>
				</div>



				<input type="hidden" name="queryid" value="{{ queryid }}" />
				<input type="submit"  name="cluster" value="Cluster" class="btn subthreecol"/>



			{% elif step == "clustering" %}


			<div class="title"><h3>Clustering... Please wait.</h3></div>

				We are clustering the data you selected now. We will send you an e-mail, when it is done.<br><br>

				The user : {{ query.username }} {{ query.usersurname }}<br>
				The email of the user : {{ query.useremail }} <br><br>

				The dataset : {{ query.collname }} <br>
				The filtername : {{ query.filtername }}<br>
				The selected keyword : {{ query.keyword }}

			{% else %}

			There is not any step like this on the pipeline.

			{% endif %}

{% endif %}

</form>

<div id='loading' style="display: block; margin: 0 auto; visibility: hidden;">
	<br><br>
	Loading, please wait...
	<br><br>
	<img src="{% static 'images/loading.gif' %}" name="loading" >
</div>


<script type="text/javascript">
$('#getfilterform').submit(function() {
	$('#loading').css('visibility', 'visible');
	return true;
});
</script>

{% endblock %}
