{% extends "datasets.html" %}

{% block title %}Cluster - Relevancer{% endblock %}


{% block main %}
				
				
		{% if random_cluster %}
	
				{% if last10 %}	
				
					<h3>Top Ten Tweets</h3>
					
				{% else %}
				
					<h3>All Tweets</h3>				
					
				{% endif %}
				
				<ul>
						{% for tweets in top10 %}
								<li>
										{{ tweets }}	
								</li>
						{% endfor %}
				</ul>
			
				{% if last10 %}			
			
					<h3>Last Ten Tweets</h3>
		
					<ul>
							{% for tweets in last10 %}
									<li>
											{{ tweets }}	
									</li>
							{% endfor %}
					</ul>
				
				{% endif %}
		

				{% if labellist %}
				
					<br><br>	
					The labels used before in this collection (and how many times they are used) <br>
					Click labels to use them again:				<br>	<br>	

					<ul>
							{% for label in labellist %}
									<li>
											<!--a href="" onclick="document.addlabelform.label.value='{{ label.0 }}';return false;" >
														<b>{{ label.0 }}</b></a> ({{ label.1 }})	-->
											<form method="post" name="addlabelform" action="{% url 'labeling' collname is_labeled %}">
												{% csrf_token %}
													<input type="text" name="cl_id" value="{{ random_cluster.id }}" placeholder="{{ random_cluster.id }}" style="display: none;" readonly>
  													<input type="submit" name="directlabel" value="{{ label.label }}"> ({{ label.num_tweets }})	
 	 										</form>
									</li>
							{% endfor %}
					</ul>
					
				{% endif %}
				
				
				{% if is_labeled == "False" %}

                                        {% if 'floodIndonesiaFeb2017_TNC-Flood' in collname %}
                                        {% else %}


					Type the label for this cluster;<br><br>

					<form method="post" name="addlabelform" action="{% url 'labeling' collname is_labeled %}">
							{% csrf_token %}
							<input type="hidden" name="cl_id" value="{{ random_cluster.id }}" placeholder="{{ random_cluster.id }}" readonly><br>
  							<input type="text" name="label"  placeholder="Write your label here" required pattern="\S+"/><br><br>
  							<input type="submit" name="labeling" value="Add Label">
 	 				</form>
					{% endif %}


				{% elif is_labeled == "True" %}
				

					Current label for this cluster : <b>{{ current_label }}</b> <br><br>
				
					{% if 'floodIndonesiaFeb2017_TNC-Flood' in collname %} 
	                                {% else %}

					Type the label for this cluster;<br><br>
				
					<form method="post" name="addlabelform" action="{% url 'labeling' collname is_labeled %}">
							{% csrf_token %}
							<input type="hidden" name="cl_id" value="{{ random_cluster.id }}" placeholder="{{ random_cluster.id }}"  readonly><br>
  							<input type="text" name="label" id= "label"  placeholder="Write your label here" required pattern="\S+"><br><br>
  							<input type="submit" name="labeling" value="Change Label">
  							<input type="submit" name="labeling" value="Remove Label" formnovalidate>
 	 				</form>				
					{% endif %}
			
  		
  				{% endif %}	
  				
  				
  				

  				<br>
				<form method="post" name="addlabelform" action="{% url 'labeling' collname is_labeled %}">
						{% csrf_token %}
  						<input type="submit" name="nextcl" value="Next Cluster">
 	 			</form>

  				<br><br>

		{% else %}
			
				{{ warning }}	
			
			
		{% endif %}	

{% endblock %}
