{% extends "base.html" %}

{% block title %}Calendar - Relevancer{% endblock %}


{% block menu %}	
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'howdoesitwork' 'Introduction' %}" accesskey="2" title="">How Does It Work?</a></li>
		<li><a href="{% url 'datasets' %}" accesskey="3" title="">Datasets</a></li>
		<li><a href="{% url 'getfilter' %}" accesskey="4" title="">Analysis Filter</a></li>
		<li><a href="{% url 'about' %}" accesskey="5" title="">About</a></li>
{% endblock %}


{% block main %}


<div class="title">
		  	<h2>Relevancer Calendar</h2>
</div>


<div id='excontainer'>

<br>

<p>
sadasdasdasdasdadsasdasdasdasdasdasdasd...........
</p>

<p style="color:red"><b>{{denied_msg}}</b></p>
<p style="color:green"><b>{{positive_msg}} {{useremail}}</b></p>

<p>ugur ozcan ...</p>


<form method="post" name="user-login"  style="background-color:#BCDEAF">
{% csrf_token %}

	<br>
	
	<p>Query : <input type="text" name="keyterm" size="15"/></p><br>
	<p><input type="checkbox" name="casesensitive" value="casesensitive"> Case Sensitive</p><br>
	<p>From: <input type="text" name="from"  placeholder="Enter the date as yyyy-mm-dd" required /> hours :<input type="text" name="hours_from" placeholder="00:00" size="4"/></p><br>
	<p>To: <input type="text" name="to"  placeholder="Enter the date as yyyy-mm-dd" required /> hours :<input type="text" name="hours_to" placeholder="00:00" size="4"/><br><br>

	<input type="submit" value="Submit" style="color:white; background-color:darkgreen">
	<br><br>


</form>

<p style="color:blue; background-color:yellow">{{ugur}}</p>
<p style="background-color:pink">{{ugur2}}</p>

</div>

{% endblock %}
