html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #424a5d;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
		padding: 0 100px;
		text-align: justify;
    	text-justify: inter-word;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0078b9;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0 auto;
		/*width: 1000px;*/
	}
	
	
	section 
	{
		float: left; 
		margin-bottom: 30px;
	}

	section > div 
	{
		height: 500px; 
		margin-top: 10px; 
		overflow: auto;
		border: 1px solid #0078b9;
		-webkit-border-radius: 12px; 
	   -moz-border-radius: 12px; 
	   border-radius: 12px; 
	   padding: 10px;
	}
	
	header{ text-align: center;	margin: 0 0 25px;}
	
	header > h1 { display: inline; margin: 0 30px;}
	
	

   #tweet-wrapper
   {
		clear: both;	
		padding-right:10px;
   }

   #tweet-wrapper section{
   		position: absolute;
   		width:98%; 
   		clear: both; 
	}


/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

		form
		{
		}
		
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			
			form .submit
			{
				margin-top: 2em;
				line-height: 1.5em;
				font-size: 1.3em;
			}
		
			form input[type='text'],
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: inline;
				text-align: center;
				border: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 100%;
				padding: 0.4em 1em;
				border-radius: 0.50em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				outline: none;
				/*margin: 1em 0em;
				display: block;
				*/
			}

			form select
			{
				width: 40%;
				text-align: left;
			}

			form input[type='text']
			{
				width: 20%;
			}




				form input.text:hover,
				form select:hover,
				form textarea:hover
				{
				}

				form input.text:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #E0E0E0;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 12em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul li
	{
		line-height: 1.5em;
	}




/*.container blockquote, .tweetsec {
    display: none;
}*/
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/


.btn {
	background: #0078b9;
	background-image: -webkit-linear-gradient(top, #0078b9, #0078b9);
	background-image: -moz-linear-gradient(top, #0078b9, #0078b9);
	background-image: -ms-linear-gradient(top, #0078b9, #0078b9);
	background-image: -o-linear-gradient(top, #0078b9, #0078b9);
	background-image: linear-gradient(to bottom, #0078b9, #0078b9);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #96d1f8;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
	margin: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-style:none;
}


.btn:hover {
  background: #d61e1e;
  background-image: -webkit-linear-gradient(top, #28597a, #28597a);
  background-image: -moz-linear-gradient(top, #28597a, #28597a);
  background-image: -ms-linear-gradient(top, #28597a, #28597a);
  background-image: -o-linear-gradient(top, #28597a, #28597a);
  background-image: linear-gradient(to bottom, #28597a, #28597a);
  text-decoration: none;
}


.feedback{
	width: 99%;
	background: #FFF;
	color: #595959;
	border: 1px solid #999;
	font-size: 15px;
	text-align: center;
	padding-left: 35%;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

